{{!--{{#changing-background dataSet=dataSet}}{{/changing-background}}--}}
<div class="impagewrapper ember-view collection">
    {{#impagination-dataset
        on-observe=(action "observeDataset")
        fetch=fetch
        page-size=80
        load-horizon=80
        as |records|}}

        {{#floating-bar class="quickOptions" toggleClass="hidden" selector=".scroller > div"}}

            {{md-btn
                icon='mdi-content-filter-list'
                action='filterClick'
                buttonType='floating'
                class='btn-small'}}
            {{md-select content=libraryOptions
                label='Library:'
                value=filters.libraryId
                optionLabelPath="content.name"
                optionValuePath="content.uuid"
                class="selectLib    "}}
            {{md-select content=sortTypes
                label='Sort by:'
                value=filters.sort
                optionLabelPath="content.label"
                optionValuePath="content.value"
                class="selectLib"}}

            <div class="search">
                {{input type="text" value=filters.title}}
                <button class="mdi-action-search"></button>
            </div>
        {{/floating-bar}}

        {{#ember-collection class="scroller" items=records cell-layout=(fixed-grid-layout 230 330) as |record index|}}
            {{#if record.content}}
                <div class="grid-item" >
                    <div class="poster" data-poster-image={{record.content.id}} style={{{record.content.poster-img-thumb-style}}}></div>
                    {{#link-to "item.detail" record.content }}{{/link-to}}
                    <div class="detail">
                        {{md-btn class="play" icon='mdi-av-play-arrow' action='play' actionArg=record.content bubble=false buttonType='floating' class='btn-small'}}
                        <span class="title">{{record.content.title}}</span>
                        <span class="year">{{record.content.year}}</span>
                    </div>
                </div>
            {{/if}}
        {{/ember-collection}}

    {{/impagination-dataset}}
</div>
<div class={{filterClass}}>
    <div class="close" {{action "filterClick"}}></div>
    <div class="content">
        {{md-input label="Title" value=filters.title icon="mdi-action-search white-text"}}
        ... en meer filters;)
    </div>
</div>