{{outlet}}

{{#paper-toolbar}}
    <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
            {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Settings</span>
    </div>
{{/paper-toolbar}}

{{#paper-content}}
    {{#paper-content class="md-padding"}}
        {{#paper-content class="md-whiteframe-z3"}}
            {{#paper-toolbar}}
                <div class="md-toolbar-tools">
                    Server settings
                </div>
            {{/paper-toolbar}}
            {{#paper-content class="md-padding"}}
                {{paper-input label="Server name" value=settings.model.name icon="label"}}
                {{paper-input label="Port" value=settings.model.port icon="computer"}}
                {{#paper-button raised=true primary=true action="save"}}Save{{/paper-button}}
            {{/paper-content}}
        {{/paper-content}}
    {{/paper-content}}

    {{#paper-content class="md-padding"}}
        {{#paper-content class="md-whiteframe-z3"}}
            {{#paper-toolbar}}
                <div class="md-toolbar-tools">
                    Media Libraries
                    <span flex></span>
                    {{#paper-button action="addLibrary"}}
                        {{paper-icon "add" size=2}}
                        Add library
                    {{/paper-button}}
                </div>
            {{/paper-toolbar}}
            {{#paper-content class="md-padding" flex-layout="row" flex=true}}
                {{#paper-content flex=1}}
                    {{#paper-list }}
                        {{#each settings.model.libraries as |library|}}
                            {{#paper-item param=library action="selectLibrary"  }}
                                {{#if (eq selectedLibrary library true false)}}
                                    {{paper-icon "edit"}}
                                {{/if}}
                                {{library.name}}

                            {{/paper-item}}
                        {{/each}}
                    {{/paper-list}}
                {{/paper-content}}
                {{#if selectedLibrary}}
                    {{#paper-content flex=1}}
                        {{paper-input label="Name" value=selectedLibrary.name icon="label"}}
                        {{#server-file-browser label="Library folder" value=selectedLibrary.folder}}{{/server-file-browser}}
                        Library type:
                        {{#paper-radio value="folder" selected=selectedLibrary.type}}Unspecified{{/paper-radio}}
                        {{#paper-radio value="tv" selected=selectedLibrary.type}}TV Shows{{/paper-radio}}
                        {{#paper-radio value="movie" selected=selectedLibrary.type}}Movies{{/paper-radio}}
                        {{#paper-radio value="library-music" selected=selectedLibrary.type}}Music{{/paper-radio}}

                        {{#paper-button raised=true primary=true action="save"}}Save{{/paper-button}}
                    {{/paper-content}}
                {{/if}}
            {{/paper-content}}
        {{/paper-content}}
    {{/paper-content}}
{{/paper-content}}