<video src={{videoUrl}} preload="none" autoplay></video>
{{#if loading}}
    {{md-loader mode="circular" size="small"}}
{{else if paused}}
    {{md-btn
        icon='mdi-av-play-arrow'
        action='togglePauseAction'
        buttonType='floating'
        class='btn-large'}}
{{/if}}

<div class="controls {{{navClass}}}">
    <img src={{mediaItem.poster-img}} />

    {{#if paused}}
        {{md-btn id="play-pause"
            icon='mdi-av-play-arrow'
            action='togglePauseAction'
            buttonType='floating'
            class='btn-large'}}
    {{else}}
        {{md-btn id="play-pause"
            icon='mdi-av-pause'
            action='togglePauseAction'
            buttonType='floating'
            class='btn-large'}}
    {{/if}}
    {{md-btn id="next"
        isDisabled=true
        icon='mdi-av-skip-next'
        action='prev'
        buttonType='floating'
        class='btn-medium'}}
    {{md-btn id="prev"
        isDisabled=true
        icon='mdi-av-skip-previous'
        action='next'
        buttonType='floating'
        class='btn-medium'}}
    {{md-btn
        id="fullscreen"
        icon='mdi-navigation-fullscreen'
        action='fullscreen'
        buttonType='floating'
        class='btn-medium'}}
    {{seek-bar offset=startOffset onSeek=(action "seek") progress=progress max=mediaItem.fileduration}}

    <span {{action "toggleMute"}} class={{muteIcon}} id="mute"></span>
    {{seek-bar id="volume" offset=0 onSeek=(action "volumeChange") progress=volume max=100}}
</div>