<div class="back">
    {{#link-to "library.list" id="back-btn" }}<i class="material-icons">arrow_back</i>{{/link-to}}
</div>

<div style="{{model.backdrop-img-style}}" class="movie-detail-backdrop"></div>
<div>
    <main>
        <div class="container detail">
            {{#if (eq model.type "tv")}}
                {{#if seasons.content.length}}
                    {{#md-tabs selected=selectedTab id="tabs"}}
                        {{md-tab value=-1 title="Episode info"}}
                        {{#each seasons.content as |season|}}
                            {{md-tab value=season title=(concat "Season " season)}}
                        {{/each}}
                    {{/md-tabs}}
                {{/if}}
            {{/if}}
            <div class="poster" style="background-image: url({{{model.poster-img}}})"  data-poster-image={{model.id}}></div>

            {{md-btn id="play"
                icon='mdi-av-play-arrow'
                action='play'
                buttonType='floating'
                class='btn-large'}}
            <div class="scrollable">
                <h1>{{model.title}}</h1>
                {{#if (eq selectedTab  -1)}}
                    <div class="description">
                        {{#if (eq model.type "tv")}}
                            <h3>Episode {{model.episode}} - {{model.episode-title}}</h3>
                        {{/if}}
                        <div class="header">

                            <div class="stars">
                                <img src="/assets/img/stars.png" alt="stars">
                                <div class="full" style="width: {{ model.rating }}%;">
                                    <img src="/assets/img/stars-full.png" alt="full_stars">
                                </div>
                            </div>
                            <i class="material-icons">fiber_manual_record</i>
                            {{ model.fileduration }} min
                            <i class="material-icons">fiber_manual_record</i>
                            {{ model.year }}
                        </div>
                        <p>{{model.overview}}</p>
                        {{md-btn id="details"
                            text="Media details"
                            action='toggleDetails'
                            class='btn-small'}}
                    </div>
                {{else}}
                    <div class="collection">
                        {{#each allEpisodes as |episode|}}
                            {{#if (eq selectedTab episode.season)}}
                                {{#link-to "item.detail" episode class='collection-item'}}
                                    {{episode.episode}} - {{episode.episode-title}}
                                {{/link-to}}
                            {{/if}}
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>
    </main>
</div>


{{#if showDetails}}
    {{#md-modal close='toggleDetails'}}
        <div class="modal-content">
            <h4>Media details</h4>
            <div class="collection">
                {{#each detailItems as |item|}}
                    <div class=collection-item">
                        <b>{{item.title}}:</b>
                        {{item.value}}
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'toggleDetails'}}>
                Close
            </a>
        </div>
    {{/md-modal}}
{{/if}}
