{{outlet}}
{{#paper-toolbar}}
    <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
            {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">{{model.title}}</span>
    </div>
{{/paper-toolbar}}
<div style={{model.backdrop-img-style}} class="backdrop">
{{#paper-content class="md-padding semi-transparent" }}
    <img src={{{model.poster-img}}}/>
    <p>{{model.overview}}</p>
{{/paper-content}}
</div>