<div class="back">
    {{#link-to "library.list" id="back-btn" }}<i class="material-icons">arrow_back</i>{{/link-to}}
</div>

<div style="{{model.backdrop-img-style}}" class="movie-detail-backdrop"></div>
<div>
    <main>
        <div class="container detail">
            <h1>{{model.title}}</h1>
            <div class="poster" style="background: url({{{model.poster-img}}}) top center no-repeat"  data-poster-image={{model.id}}>
            </div>
            <div class="description">
                <div class="header">
                    <div class="stars">
                        <img src="/assets/img/stars.png" alt="stars">
                        <div class="full" style="width: {{ model.rating }}%;">
                            <img src="/assets/img/stars-full.png" alt="full_stars">
                        </div>
                    </div>
                    <i class="material-icons">fiber_manual_record</i>
                    {{ model.fileduration }} min
                    <i class="material-icons">fiber_manual_record</i>
                    {{ model.year }}
                </div>
                <p>{{model.overview}}</p>
            </div>
            {{md-btn id="play"
                icon='mdi-av-play-arrow'
                action='play'
                buttonType='floating'
                class='btn-large'}}
        </div>
    </main>
</div>