{{#nav-bar showBackButton=true}}

    {{#if watched}}
        <button {{action "toggleWatched"}} class="mdi-action-done marked">
            {{#tooltip-on-element}}
                Mark unwatched
            {{/tooltip-on-element}}
        </button>
    {{else}}
        <button {{action "toggleWatched"}} class="mdi-action-done">
            {{#tooltip-on-element}}
                Mark watched
            {{/tooltip-on-element}}
        </button>
    {{/if}}
    <button {{action "toggleDetails"}} class="mdi-action-info-outline">
        {{#tooltip-on-element}}
            Info
        {{/tooltip-on-element}}

    </button>
{{/nav-bar}}

<div style={{model.backdrop-img-style}} class="movie-detail-backdrop"></div>
<div>
    <main>
        <div class="container detail">
            {{#if (eq model.type "tv")}}
                {{#if seasons.content.length}}
                    {{#md-tabs selected=selectedTab  colWidth=3 id="tabs"}}
                        {{md-tab value=-1 title="Episode info"}}
                        {{#each seasons.content as |season|}}
                            {{md-tab value=season title=(concat "Season " season)}}
                        {{/each}}
                    {{/md-tabs}}
                {{/if}}
            {{/if}}
            <div class="poster" style={{model.poster-img-style}}  data-poster-image={{model.id}}>

            </div>

            {{md-btn id="play"
                icon='mdi-av-play-arrow'
                action='play'
                buttonType='floating'
                class='btn-large'}}
            <div class="scrollable">
                <h1>{{model.title}}</h1>
                {{#if (eq selectedTab  -1)}}
                    <div class="description">
                        {{#if (eq model.type "tv")}}
                            <h3>Episode {{model.episode}} - {{model.episode-title}}</h3>
                        {{/if}}
                        <div class="header">

                            <div class="stars">
                                <img src="/assets/img/stars.png" alt="stars">
                                <div class="full" style={{ratingWidth}}>
                                    <img src="/assets/img/stars-full.png" alt="full_stars">
                                </div>
                            </div>
                            <i class="material-icons">fiber_manual_record</i>
                            {{ model.filedurationReadable }}
                            <i class="material-icons">fiber_manual_record</i>
                            {{ model.year }}
                        </div>
                        <p>{{model.overview}}</p>
                    </div>
                {{else}}
                    <div class="collection">
                        {{#each allEpisodes as |episode|}}
                            {{#if (eq selectedTab episode.season)}}
                                {{#link-to "item.detail" episode class='collection-item'}}
                                    {{episode.episode}} - {{episode.episode-title}}
                                {{/link-to}}
                            {{/if}}
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>
    </main>
</div>


{{#if showDetails}}
    {{#md-modal close='toggleDetails'}}
        <div class="modal-content">
            <h4>Media details</h4>
            {{#each extras as |item|}}
                {{#if item.trailer}}
                    {{#link-to "item.view" item}}Watch trailer{{/link-to}}<br/>
                {{/if}}
                {{#if item.sample}}
                    {{#link-to "item.view" item}}Watch sample{{/link-to}}<br/>
                {{/if}}
            {{/each}}

            <div class="collection">
                {{#each detailItems as |item|}}
                    <div class=collection-item">
                        <b>{{item.title}}:</b>
                        {{item.value}}
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'toggleDetails'}}>
                Close
            </a>
        </div>
    {{/md-modal}}
{{/if}}
